<!DOCTYPE html>
<html ng-app= "MainApp">
<head>
<title> Can you Crawl?</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="fb:app_id" content="888129401209206">
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">

<meta property="og:image" content="{{ ret_data.og_image}}">
<meta property="og:site_name" content="{{ ret_data.og_site_name}}">
<meta property="og:title" content="{{ ret_data.og_title }}">
<meta property="og:description" content="{{ ret_data.og_desc }}">
<meta property="og:url" content="{{ ret_data.og_url }}">
<base href='/'>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js
"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-route.min.js"></script>
<script src="/static/scripts/ng.js"></script>

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


<script>
  $(function(){
    function main(){
      console.info( getPath() );
      setArticleID();
      setJsonData();
    };

    function getPath(){
      var path_str = location.href;
      var path_dict = path_str.split('/');
      var href_length = path_dict.length
      var ret_data = path_dict[ href_length -2 ]
                   + "/"
                   + path_dict[ href_length -1 ];
      return ret_data
    };

    function setArticleID(){
      $("#content_js").html( getPath());
    };

    function setJsonData(){
      var cur_url = '/api/' + getPath();
      console.log("get url is" + cur_url);
      $.getJSON( cur_url, function(json){
        console.log( "from api json is :" + JSON.stringify(json));
        var ret_str;
        if ( JSON.stringify(json) == ""){
          ret_srt = "nothing"
        }else{
          ret_str = JSON.stringify(json);
        }
        $("#json_content").html( ret_str );
      });
    };

    main();
    });
</script>
</head>
<body>
  <div class="container">
    <div class="header">
      <h3 class="text-muted">Can you crawling?</h3>
      <img src='{{ ret_data.og_image}}' width=100px>

      <div class="jumbotron">
        <h1>Only index.html file.</h1>
        <p class="lead">
          このサイトには、"index.html"のみ存在し、ページ遷移に関しては、Angularのルーティングを用いて非同期でng-viewタグ内にhtml要素がはめ込まれる。
        </p>

      <div class="row">
        <div class="col-lg-4">
          <h3>サーバレンダリング</h3>
        </div>
        <div class="col-lg-4">
          <h4>page id</h4>
          <p>{{ ret_data.page_id }}</p>
        </div>
        <div class="col-lg-4">
          <h3>ブラウザレンダリング</h3>
        </div>
        <div class="col-lg-4">
          <h4>location情報</h4>
          <p id='content_js'></p>
        </div>
        <div class="col-lg-4">
          <h4>非同期でAPIより取得情報</h4>
          <p id="json_content"></p>
        </div>
      </div>
    </div>
    トップページをシェア
    <div class="fb-share-button" data-href="http://fb-share.appspot.com/" data-layout="button_count"></div>
      <h2>ng-view area</h2>
      <div id="ng-area">
        <div ng-view></div>
      </div>
    </div>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>
